body {
  background-color: #E7E9EB;
}
table, th, td {
  border: 1px solid; text-align: center; border-collapse: collapse;
}

.welcome {
  text-align: center;
  font-size: 18px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.home-logo {
  margin-left: 33%;
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  height: 150px;
  width: auto;
}

.away-logo {
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  height: 150px;
  width: auto;
}
