/*Main Styling*/


body {
	padding-top: 170px;
	padding-bottom: 70px;
	background-color: #41495A;
	color: #fff;
}

.navbar-inverse .navbar-nav li a {
	color: #ffffff;
	font-size: 20px;
	text-transform: uppercase;
}

.navbar-inverse .navbar-nav li a:hover {
	color: #ddd;
}

.navbar-brand img {
	height: 100px;

ul .dropdown-menu {
	background-color: #222;
	color: #fff;
	text-transform: uppercase;
}

ul .dropdown-menu a:hover {
	background-color: #41495A;
	color: #fff;
	text-transform: uppercase;
}

.contain {
  width: 50%;
  padding-top: 100px;
  margin-left: 25%;
}

.week {
  padding-top: 25px;
  margin-left: 25%;
}

.btn-week {
	margin: 0;
	position: absolute;
	left: 50;
}

.btn-week a {
	color: #fff;
}

.btn-week a:hover {
	color: #fff;
	text-decoration: none;
}
